@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.btn {
  @apply text-white bg-orange-900 hover:text-orange-900 hover:bg-white dark:text-black dark:bg-white dark:hover:text-white dark:hover:bg-gray-700;
}

td {
  text-align: left;
  vertical-align: top;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
  text-align: left;
}

blockquote p {
  display: inline;
}

pre {
  max-width: 100vw;
  overflow-x: auto;
}
