@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.btn {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.534), 0 0 1.5rem #8f5922 inset;
  background: #fffef0;
}

.dark .btn {
  box-shadow: 0 0 1.5rem #8f8d8b50 inset;
  background: #080808;
}

td {
  text-align: left;
  vertical-align: top;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
  text-align: left;
}

blockquote p {
  display: inline;
}

pre {
  max-width: 100vw;
  overflow-x: auto;
}
